@page
@model RealEstate.Pages.Estates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form>

    <p>
        Type: <select asp-for="EstateType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].BedRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].BathRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].SquareFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
